name: Build WASM

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup Emscripten
      uses: mymindstorm/setup-emsdk@v14
      with:
        version: 3.1.51

    - name: Configure CMake
      run: emcmake cmake -B build -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ExtraSlotAmy-WASM
        path: |
          build/*.wasm
